In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder # encoder to make the dataset as number
from sklearn.preprocessing import OneHotEncoder # encoder to make the dataset as one hot

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

# get the training se
train_df = pd.read_csv("../input/train.csv")
train_df.head()

['gender_submission.csv', 'test.csv', 'train.csv']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# split the data set to X_train and Y_train
Y_train = train_df['Survived']
X_train = train_df.drop(['Survived'], axis=1)

print('-------------')
X_train.head()

-------------

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
Y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [11]:
# check is Y_train has nan
print(Y_train.isnull().any())

# check is Y_train has nan
print(X_train.isnull().any())

False
PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [12]:
# get the data distribution
X_train.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [35]:
print(X_train['Sex'].describe())
#print(np.bincount(X_train['Sex']))

# set the sex to binary value
le_sex = LabelEncoder().fit(X_train['Sex'])
Sex_label = le_sex.transform(X_train['Sex']) # don't give the result to dataframe directely, we need to one hot encode later
# Set the sex to on-hot
#    545                     "Reshape your data either using array.reshape(-1, 1) if "
#     546                     "your data has a single feature or array.reshape(1, -1) "
# --> 547                     "if it contains a single sample.".format(array))
OH_sex = OneHotEncoder(sparse=False)
Sex_label = OH_sex.fit_transform(Sex_label.reshape(-1, 1 ))

print(Sex_label)
X_train['Sex_Lable'] = Sex_label
X_train.head(10)
print(X_train['Sex_Lable'].iloc[0])
print(X_train['Sex_Lable'].iloc[0].dtype)
############ old method #########################
# X_train['Sex_binary'] = X_train['Sex'] == 'male'
# #X_train['Sex_binary'].head()
# X_train['Sex_binary'] = X_train['Sex_binary'].astype('int')
# #X_train['Sex'].head()

# print(X_train['Sex_binary'].describe())
# # check the covariance
# print(np.cov(X_train['Sex_binary'], train_df.Survived))

count      891
unique       2
top       male
freq       577
Name: Sex, dtype: object
[[0. 1.]
 [1. 0.]
 [1. 0.]
 ...
 [1. 0.]
 [0. 1.]
 [0. 1.]]
0.0
float64

C:\anaconda3\envs\Tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:363: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)